.about--wrapper {
  background-color: $base-white;
}

.about__title {
  margin: 0;

  font-family: $alumni;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  color: $base-blue;

  @media (min-width: $tablet) {
    font-size: 42px;
    line-height: 42px;
    text-align: center;
  }

  @media (min-width: $desktop) {
    font-size: 54px;
    line-height: 54px;
    text-align: left;
  }
}

.about__slogan {
  font-family: $roboto;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: $base-blue;

  @media (min-width: $tablet) {
    font-size: 20px;
    text-align: center;
  }

  @media (min-width: $desktop) {
    font-size: 22px;
    line-height: 22px;
    text-align: left;
  }
}

.about p {
  margin: 0;
  padding-bottom: 8px;

  font-family: $roboto;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: $base-blue;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop) {
    text-align: left;
  }
}

.about p:nth-of-type(2n + 1) {
  @media (max-width: $desktop) {
    display: none;
  }
}
