.contacts--wrapper {
  padding: 40px 15px;
  background-color: $base-white;

  @media (min-width: $tablet) {
    padding: 60px 164px;
  }

  @media (min-width: $desktop) {
    padding: 60px 103px 71px;
    flex-grow: 1;
  }
}

.contacts__title {
  margin: 0;
  margin-bottom: 42px;

  font-family: $alumni;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  color: $base-blue;

  @media (min-width: $tablet) {
    margin-bottom: 36px;

    font-size: 54px;
    line-height: 54px;
    text-align: center;
  }

  @media (min-width: $desktop) {
    text-align: left;
  }
}

.contacts__list {
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 28px;

  @media (min-width: $tablet) {
    position: relative;

    flex-direction: row;
    gap: 60px;
  }

  @media (min-width: $desktop) {
    gap: 120px;
  }
}

.contacts__list dl {
  margin: 0;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-grow: 1;
  }
}

.contacts__list::after {
  @media (min-width: $tablet) {
    content: "";
    width: 117px;
    height: 1px;
    display: block;
    background-color: #74819c;
    transform: rotate(-90deg);
    position: absolute;
    top: 57px;
    left: 38%;
  }
}

.contacts__term {
  margin: 0;
  margin-bottom: 12px;

  font-family: $roboto;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: $base-blue;

  @media (min-width: $tablet) {
    margin-bottom: 5px;

    font-size: 24px;
    line-height: 24px;
  }
}

.contacts__description:last-of-type {
  margin-bottom: 0;
}

.contacts__description {
  margin: 0;
  margin-bottom: 28px;

  font-family: $roboto;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $base-blue;

  @media (min-width: $tablet) {
    margin-bottom: 15px;

    font-size: 14px;
    line-height: 22px;
  }
}

.contacts__description a {
  color: $base-blue;
  text-decoration: none;
}
