.features--wrapper {
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: $bg-add-white;

  @media (min-width: $tablet) {
    padding: 60px 45px;
  }

  @media (min-width: $desktop) {
    padding: 100px 103px 102px;
  }
}

.features__title {
  margin: 0;
  margin-bottom: 40px;

  font-family: $alumni;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  color: $base-blue;
  text-align: center;

  @media (min-width: $tablet) {
    margin-bottom: 50px;

    font-size: 42px;
    line-height: 42px;
  }

  @media (min-width: $desktop) {
    font-size: 54px;
    line-height: 54px;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 45px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 40px;
    row-gap: 80px;
  }
}

.features__list li {
  margin-bottom: 32px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet) {
    padding: 0;
    margin-bottom: 0;
    height: fit-content;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 14px;
    align-items: start;
  }

  @media (min-width: $desktop) {
    column-gap: 44px;
  }
}

.features__list li:nth-child(2),
.features__list li:nth-child(5) {
  @media (min-width: $tablet) {
    padding-left: 4px;
  }
}

.features__list li div {
  @media (min-width: $tablet) {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
  }
}

.features__list li:last-child {
  margin-bottom: 0;
}

.features__list span:nth-of-type(1) {
  font-family: $roboto;
  font-size: 64px;
  line-height: 64px;
  font-weight: 700;

  background: linear-gradient(127.61deg, #d10a42 0%, #0041ca 45.58%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media (min-width: $tablet) {
    font-size: 70px;
    line-height: 70px;
  }
}

.features__list span:nth-of-type(2) {
  font-family: $roboto;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #2e35ac;

  @media (min-width: $tablet) {
    line-height: 22px;
  }
}

.features__list h3 {
  margin: 12px auto;

  font-family: $roboto;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: $base-blue;
  text-align: center;

  @media (min-width: $tablet) {
    margin: 0;
    margin-bottom: 12px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  @media (min-width: $desktop) {
    margin-bottom: 8px;

    font-size: 22px;
    line-height: 22px;
  }
}

.features__list p {
  margin: 0;

  font-family: $roboto;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: $base-blue;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
}

.features__list li:nth-of-type(3) span:nth-of-type(1) {
  font-family: $roboto;
  font-size: 64px;
  line-height: 64px;
  font-weight: 700;
  color: $base-white;

  background: none;
  background-clip: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: $base-white;

  @media (min-width: $tablet) {
    font-size: 70px;
    line-height: 70px;
  }
}

.features__list li:nth-of-type(3) {
  padding: 31px 75px 38px;
  margin: 42px auto 43px;

  background-color: $bg-add-blue;

  @media (min-width: $tablet) {
    padding: 35px;
    margin: 40px auto;
    width: 320px;
    box-sizing: border-box;

    grid-column: 1 / -1;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $desktop) {
    position: relative;

    padding: 58px 40px;
    margin: 0;
    width: 360px;

    grid-column: 2 / 3;
    grid-row: 1 / -1;
  }
}

.features__list li:nth-of-type(3)::before {
  @media (min-width: $desktop) {
    content: "";
    width: 360px;
    height: 2px;
    display: block;
    position: absolute;
    top: 50%;
    left: -399px;
    background-color: rgba(209, 10, 66, 0.2);
  }
}

.features__list li:nth-of-type(3)::after {
  @media (min-width: $desktop) {
    content: "";
    width: 360px;
    height: 2px;
    display: block;
    position: absolute;
    top: 50%;
    right: -400px;
    background-color: rgba(209, 10, 66, 0.2);
  }
}

.features__list li:nth-of-type(3) span:nth-of-type(2) {
  margin: 5px auto 20px;

  font-family: $roboto;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: $base-white;
  text-align: center;

  @media (min-width: $tablet) {
    margin: 25px auto 24px;

    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    margin: 11px auto 27px;

    font-size: 26px;
    line-height: 26px;
  }
}

.features__list li:nth-of-type(3) p {
  margin: 0;

  font-family: $roboto;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: $base-white;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}
