.footer--wrapper {
  padding: 40px 15px;
  display: flex;
  flex-direction: column;
  gap: 28px;

  background-color: $bg-footer;

  @media (min-width: $tablet) {
    padding: 46px 45px 44px;
    flex-direction: row;
    gap: 37px;
  }

  @media (min-width: $desktop) {
    padding: 38px 103px 40px;
    gap: 169px;
  }
}
