.footer--wrapper {
  background-color: $bg-footer;
}

.footer__container {
  padding: 40px 15px;
  margin: 0 auto;
  width: 290px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: $tablet) {
    padding: 45px 45px 48px;
    width: 678px;
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }

  @media (min-width: $desktop) {
    padding: 40px 103px;
    width: 1160px;
  }
}
