.form--wrapper {
  background-color: $base-blue;
}

.form__container {
  padding: 71px 15px 70px;
  margin: 0 auto;
  width: 290px;

  @media (min-width: $tablet) {
    padding: 60px 164px 59px;
    width: 440px;
  }

  @media (min-width: $desktop) {
    padding: 60px 103px;
    width: 477px;
  }
}

.form__title {
  margin: 0;
  margin-bottom: 36px;

  font-family: $alumni;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  color: $base-white;

  @media (min-width: $tablet) {
    margin-bottom: 37px;
    font-size: 54px;
    line-height: 54px;
    text-align: center;
  }

  @media (min-width: $desktop) {
    margin-bottom: 36px;
    text-align: left;
  }
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 36px;

  @media (min-width: $tablet) {
    gap: 35px;
  }

  @media (min-width: $desktop) {
    width: 477px;
    gap: 36px;
  }
}

.form__inputs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 37px;

  @media (min-width: $tablet) {
    flex-direction: row;
    gap: 30px;
  }
}

.form__input-wrapper {
  position: relative;
  width: 100%;

  @media (min-width: $tablet) {
    width: calc((440px - 30px) / 2);
  }

  @media (min-width: $desktop) {
    width: calc((477px - 30px) / 2);
  }
}

.form input {
  position: relative;
  z-index: 1;
  padding: 0 0 4px;
  width: 100%;

  font-family: $roboto;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: $base-white;

  border: none;
  background-color: transparent;
  box-sizing: border-box;
}

.form__input-wrapper::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #74819c;
  position: absolute;
  bottom: 0;
}

.form input::placeholder {
  color: #74819c;
}

.form input:hover {
  color: $base-white;
}

.form__input-wrapper:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: $base-white;
  position: absolute;
  bottom: 0;
}

.form input:focus {
  outline: none;
  background-color: transparent;
}

.form input:focus-visible {
  outline: none;
}

.form__input-wrapper:focus-within {
  background-color: transparent;
}

.form__input-wrapper:focus-within::after {
  content: "";
  display: block;
  height: 36px;
  width: 100%;
  position: absolute;
  top: -33%;
  border: 1px solid $base-white;
  background-color: transparent;

  @media (min-width: $tablet) {
    min-width: 205px;
  }

  @media (min-width: $desktop) {
    min-width: 223.5px;
  }
}

.form input:disabled {
  opacity: 40%;
}

.form__button {
  padding: 23px 22px 22px;

  font-family: $roboto;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  color: $base-white;
  text-align: center;

  border: 2px solid $base-white;
  background-color: transparent;
  text-transform: uppercase;
  box-sizing: border-box;
  cursor: pointer;

  @media (min-width: $tablet) {
    padding: 27px 25px 24px;
  }

  @media (min-width: $desktop) {
    padding: 27px 25px 24px;
    width: 477px;
  }
}

.form__button:hover {
  color: $accent-blue;
  background-color: $base-white;
}

.form__button:focus-visible {
  color: $accent-blue;
  border: 2px solid #000000;
  background-color: rgba(255, 255, 255, 0.8);
  outline: none;
}

.form__button:active {
  color: $base-blue;
  background-color: $base-white;
  border: 2px solid $base-blue;
}

.form__button:disabled {
  opacity: 50%;
  pointer-events: none;
}

.form__error {
  display: none;
  position: absolute;
  bottom: -100%;

  font-family: $roboto;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: $error;
  text-align: center;
}

.form__error::before {
  content: "";
  display: block;
  bottom: 0;
  background-color: $error;
  width: 208px;
  height: 1px;
  z-index: 1;
  position: absolute;
  top: -5px;
}

.form__modal {
  padding: 25px;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);

  @media (min-width: $tablet) {
    padding: 30px;
    width: 250px;
  }

  @media (min-width: $desktop) {
    padding: 35px;
    width: 270px;
  }
}

.form__modal p {
  padding: 15px 20px;
  margin: 0;
  background-color: $base-white;

  font-family: $roboto;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: $base-blue;
  text-align: center;

  @media (min-width: $tablet) {
    padding: 25px 30px;

    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    padding: 30px;
  }
}
