.hero--wrapper {
  background: linear-gradient(
    90deg,
    #1c3477 0%,
    #1c3477 0.01%,
    #1a3578 39.11%,
    #73184b 75.5%,
    #b4022a 100%
  );
}

.hero__header {
  padding: 16px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet) {
    padding: 31px 45px 28px;
  }

  @media (min-width: $desktop) {
    padding: 30px 103px;
  }
}

.hero__inner {
  padding: 47px 15px 33px;

  @media (min-width: $tablet) {
    padding: 0 45px 99px;
    display: flex;
    gap: 28px;
  }

  @media (min-width: $desktop) {
    padding: 27px 175px 120px 250px;
    gap: 56px;
  }
}

.hero__text {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  column-gap: 22px;

  @media (min-width: $tablet) {
    padding: 31px 0;
    display: grid;
    column-gap: 26px;
  }

  @media (min-width: $desktop) {
    padding: 56px 0;
    column-gap: 0;
  }
}

.hero__title {
  margin: 0;
  margin-top: 13px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  font-family: $alumni;
  font-size: 62px;
  line-height: 62px;
  font-weight: 800;
  color: $base-white;
  text-align: right;
  letter-spacing: 1px;

  text-transform: uppercase;

  @media (min-width: $tablet) {
    margin-bottom: 50px;
    margin-top: 10px;

    font-size: 72px;
    line-height: 85px;
    letter-spacing: 2px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 37px;
    margin-top: 39px;

    font-size: 92px;
    line-height: 110px;
    letter-spacing: 4px;
  }
}

.hero__badge {
  display: inline-block;
  margin-right: 1px;

  font-family: $alumni;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  color: $base-white;
  text-align: right;

  @media (min-width: $tablet) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (min-width: $desktop) {
    margin-top: -4px;

    font-size: 54px;
    line-height: 54px;
  }
}

.hero__list {
  margin: 0;
  padding: 0;
  width: max-content;
  list-style: none;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  align-self: end;

  @media (min-width: $tablet) {
    align-self: center;
    justify-self: self-start;
  }
}

.hero__item {
  font-family: $roboto;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $base-white;
  text-align: right;

  @media (min-width: $tablet) {
    line-height: 22px;
  }
}

.hero__link {
  margin-right: 1px;

  margin-top: 49px;
  grid-column: 1 / -1;

  @media (min-width: $tablet) {
    margin-top: 0;
    grid-column: 2 / 3;
  }
}

.hero__img {
  height: 390px;
  background-color: #000b2f;

  @media (min-width: $tablet) {
    display: block;
  }
}

.hero__img img {
  display: none;
  max-width: fit-content;

  @media (min-width: $tablet) {
    display: block;
  }
}
