.hero--wrapper {
  background:
    linear-gradient(
      90deg,
      #1c3477 0%,
      #1c3477 0.01%,
      #1a3578 39.11%,
      #73184b 75.5%,
      #b4022a 100%
    );
}

.hero__container {
  padding: 14px 15px 32px;
  margin: 0 auto;
  width: 290px;

  display: flex;
  flex-direction: column;
  gap: 48px;

  @media (min-width: $tablet) {
    padding: 30px 45px 100px;
    width: 678px;
    gap: 0;
  }

  @media (min-width: $desktop) {
    padding: 30px 103px 120px;
    width: 1160px;
    gap: 30px;
  }
}

.hero__header {
  padding-bottom: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet) {
    padding-bottom: 28px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 30px;
  }
}

.hero__inner {
  margin: 0 auto;

  @media (min-width: $tablet) {
    display: flex;
    gap: 30px;
  }

  @media (min-width: $desktop) {
    padding: 0 72px;
    margin: 0 0 0 auto;
    gap: 56px;
  }
}

.hero__text {
  display: grid;
  grid-template-columns: auto 156px;
  grid-template-rows: auto auto auto;
  column-gap: 21px;

  @media (min-width: $tablet) {
    padding: 31px 0;
    grid-template-columns: auto 185px;
    column-gap: 26px;
  }

  @media (min-width: $desktop) {
    padding: 52px 0;
    grid-template-columns: auto 270px;
    column-gap: 0;
  }
}

.hero__title {
  margin: 0;
  margin-top: 14px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  font-family: $alumni;
  font-size: 62px;
  line-height: 62px;
  font-weight: 800;
  color: $base-white;
  text-align: right;
  letter-spacing: 1px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    margin-bottom: 50px;
    margin-top: 10px;
    margin-right: -2px;

    font-size: 72px;
    line-height: 85px;
    letter-spacing: 2px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 40px;
    margin-top: 40px;
    margin-right: 0;

    font-size: 92px;
    line-height: 110px;
    letter-spacing: 4px;
  }
}

.hero__badge {
  display: inline-block;

  font-family: $alumni;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  color: $base-white;
  text-align: right;

  @media (min-width: $tablet) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (min-width: $desktop) {
    font-size: 54px;
    line-height: 54px;
  }
}

.hero__list {
  margin: 0;
  padding: 0;
  width: 113px;
  list-style: none;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  align-self: end;

  @media (min-width: $tablet) {
    padding-top: 1px;
    align-self: center;
    justify-self: self-start;
  }

  @media (min-width: $desktop) {
    width: 115px;
    padding-top: 0;
  }
}

.hero__item {
  font-family: $roboto;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $base-white;
  text-align: right;

  @media (min-width: $tablet) {
    line-height: 22px;
  }
}

.hero__link {
  margin-top: 48px;
  grid-column: 1 / -1;

  @media (min-width: $tablet) {
    padding: 22px 24px;
    margin-top: 0;
    grid-column: 2 / 3;
  }
}

.hero__img {
  background-color: #000b2f;

  img {
    display: none;

    @media (min-width: $tablet) {
      display: block;
    }
  }
}
