.price--wrapper {
  padding: 40px 15px;

  background-color: $add-white;

  @media (min-width: $tablet) {
    padding: 60px 194px 56px;
    position: relative;
    overflow: hidden;
  }

  @media (min-width: $desktop) {
    padding: 94px 103px 97px;
  }
}

.price--wrapper::after {
  @media (min-width: $tablet) {
    content: "";
    display: block;
    width: 275px;
    height: 328px;
    position: absolute;
    bottom: 13px;
    right: -14px;
    transform: rotate(150deg);
    background-image: url("../../img/content-img/plates.png");
    background-size: contain;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/content-img/plates@2x.png");
      background-size: contain;
    }
  }

  @media (min-width: $desktop) {
    content: "";
    display: block;
    width: 321px;
    height: 384px;
    transform: rotate(150deg);
    right: -7%;
    bottom: 4px;
  }
}

.price__title {
  margin: 0;
  margin-bottom: 31px;

  font-family: $alumni;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  color: $base-blue;
  text-align: center;

  @media (min-width: $tablet) {
    margin-bottom: 35px;

    font-size: 42px;
    line-height: 42px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 20px;

    font-size: 54px;
    line-height: 54px;
  }
}

.price__tabs {
  position: relative;
  margin-bottom: 30px;

  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet) {
    margin: 0 auto 45px;
    width: 310px;
  }

  @media (min-width: $desktop) {
    margin: 0 auto 40px;
    width: 350px;
  }
}

.price__tabs::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 1px;
  background-color: rgba(120, 120, 120, 0.2);
}

.price__tab {
  padding: 0;
  padding-bottom: 10px;

  font-family: $roboto;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: rgba(16, 38, 84, 0.5);
  text-align: center;

  background-color: transparent;
  border: none;
  box-sizing: border-box;
  cursor: pointer;

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: 20px;
  }

  &--active {
    color: $base-blue;
    position: relative;
    cursor: default;
  }
}

.price__tab--active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 1px;
  background-color: $border-tab-color;
}

.price__tab:hover {
  position: relative;
  color: rgba(16, 38, 84, 0.7);
}

.price__tab:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 1px;
  background-color: #787878;
}

.price__tab:focus-visible {
  position: relative;
  color: $base-blue;
  outline: none;
}

.price__tab:focus-visible::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 1px;
  background-color: $base-blue;
}

.price__tab:active {
  position: relative;
  color: $base-blue;
}

.price__tab:active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 1px;
  background-color: $border-tab-color;
}

.price__tab:disabled {
  opacity: 30%;
}

.price__tab--active:hover,
.price__tab--active:focus,
.price__tab--active:active {
  pointer-events: none;
}

.price__content {
  display: none;
}

.price__content--active {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 37px;

  @media (min-width: $tablet) {
    position: relative;
    z-index: 1;
    gap: 35px;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
  }
}

.price__item {
  padding: 43px 36px;
  display: flex;
  flex-direction: column;
  gap: 18px;

  border: 7px solid $base-white;
  box-sizing: border-box;
  background-color: $base-white;

  @media (min-width: $tablet) {
    padding: 59px 61px 65px;
    gap: 22px;
  }

  @media (min-width: $desktop) {
    width: 360px;
    gap: 17px;
  }
}

.price__item:hover {
  border: 7px solid;
  border-image-slice: 7;
  border-image-source: linear-gradient(148.82deg, #d10a42 0.85%, #00359f 100%);
}

.price__item:hover .link--secondary {
  color: $base-white;
  background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
  box-shadow: 0 0 0 2px $base-white;
}

.price__headling {
  margin: 0;

  font-family: $roboto;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: $base-blue;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    font-size: 26px;
    line-height: 26px;
  }
}

.price__description {
  margin: 0;

  font-family: $roboto;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: $base-blue;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}

.price__price-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;

  @media (min-width: $tablet) {
    gap: 14px;
  }
}

.price__price-wrapper::before {
  position: absolute;
  bottom: 0px;

  font-family: $roboto;
  font-size: 80px;
  line-height: 120px;
  font-weight: 700;
  color: #e8e8e8;
  opacity: 48%;
  text-align: center;

  @media (min-width: $tablet) {
    padding-top: 60px;

    font-size: 100px;
    line-height: 150px;
  }
}

.price__price-wrapper--first::before {
  content: "5000" / "";
}

.price__price-wrapper--second::before {
  content: "1700" / "";
}

.price__price-wrapper--third::before {
  content: "2700" / "";
}

.price__price-wrapper--forth::before {
  content: "30 000" / "";
}

.price__price-wrapper--fifth::before {
  content: "10 200" / "";
}

.price__price-wrapper--sixth::before {
  content: "16 000" / "";
}

.price__price-wrapper--seventh::before {
  content: "60 000" / "";
}

.price__price-wrapper--eigth::before {
  content: "20 400" / "";
}

.price__price-wrapper--ninth::before {
  content: "32 400" / "";
}

.price__price-wrapper div {
  z-index: 1;
}

.price__item svg {
  width: 24px;
  height: 33px;

  @media (min-width: $tablet) {
    width: 30px;
    height: 42px;
  }
}

.price__content span {
  z-index: 1;

  padding-top: 56px;
  margin-top: -9px;

  font-family: $roboto;
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  color: $accent-blue;
  text-align: center;

  @media (min-width: $tablet) {
    padding-top: 71px;

    font-size: 60px;
    line-height: 90px;
  }
}
