.price--wrapper {
  padding: 40px 15px;

  background-color: $bg-add-white;

  @media (min-width: $tablet) {
    padding: 60px 194px;
    position: relative;
    overflow: hidden;
  }

  @media (min-width: $desktop) {
    padding: 100px 103px;
  }
}

.price--wrapper::after {
  @media (min-width: $tablet) {
    content: "";
    display: block;
    width: 275px;
    height: 328px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(150deg);
    background-image: url("../../img/content-img/plates.png");
    background-size: contain;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/content-img/plates@2x.png");
      background-size: contain;
    }
  }

  @media (min-width: $desktop) {
    content: "";
    display: block;
    width: 321px;
    height: 384px;
    transform: rotate(150deg);
    right: -7%;
  }
}

.price__title {
  margin: 0;
  margin-bottom: 30px;

  font-family: $alumni;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  color: $base-blue;
  text-align: center;

  @media (min-width: $tablet) {
    margin-bottom: 35px;

    font-size: 42px;
    line-height: 42px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 20px;

    font-size: 54px;
    line-height: 54px;
  }
}

.price__tabs {
  margin-bottom: 30px;

  display: flex;
  justify-content: space-between;

  border-bottom: 2px solid rgba(120, 120, 120, 0.2);

  @media (min-width: $tablet) {
    margin: 0 auto 45px;
    width: 310px;
  }

  @media (min-width: $desktop) {
    margin: 0 auto 40px;
    width: 310px;
  }
}

.price__tab {
  padding: 0;
  padding-bottom: 10px;

  font-family: $roboto;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: rgba(16, 38, 84, 0.5);
  text-align: center;

  background-color: transparent;
  border: none;
  box-sizing: border-box;
  cursor: pointer;

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: 20px;
  }

  &--active {
    color: $base-blue;
    position: relative;
  }
}

.price__tab--active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -2px;
  background-color: $border-tab-color;
}

.price__content {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 35px;

  @media (min-width: $tablet) {
    position: relative;
    z-index: 1;
    gap: 40px;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
  }
}

.price__item {
  padding: 50px 42px;
  display: flex;
  flex-direction: column;
  gap: 18px;

  background-color: $base-white;

  @media (min-width: $tablet) {
    padding: 65px;
    gap: 22px;
  }

  @media (min-width: $desktop) {
    width: 100%;
    gap: 17px;
  }
}

.price__headling {
  margin: 0;

  font-family: $roboto;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: $base-blue;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    font-size: 26px;
    line-height: 26px;
  }
}

.price__description {
  margin: 0;
  padding-bottom: 8px;

  font-family: $roboto;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: $base-blue;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}

.price__content span {
  padding-top: 48px;
  margin-top: -8px;

  font-family: $roboto;
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  color: $accent-blue;
  text-align: center;

  @media (min-width: $tablet) {
    padding-top: 60px;

    font-size: 60px;
    line-height: 90px;
  }
}
