.reviews--wrapper {
  padding: 40px;

  background-color: $base-white;

  @media (min-width: $tablet) {
    padding: 58px 45px 59px;
  }

  @media (min-width: $desktop) {
    padding: 100px 103px;
  }
}

.reviews__titile {
  margin: 0;
  margin-bottom: 40px;

  font-family: $alumni;
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
  color: $base-blue;
  text-align: center;

  @media (min-width: $tablet) {
    margin-bottom: 35px;

    font-size: 54px;
    line-height: 54px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 75px;
  }
}

.reviews__swipper-container {
  position: relative;
}

.reviews__button {
  @media (max-width: 767px) {
    display: none;
  }

  @media (min-width: $tablet) {
    position: absolute;
    width: 50px;
    height: 50px;

    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
  }
}

.reviews__button:hover {
  box-shadow: 0 0 0 1px $base-blue;
}

.reviews__button:focus-visible {
  box-shadow: 0 0 0 1px $base-blue;
  background-color: #e8e8e8;
  outline: none;
}

.reviews__button:active {
  box-shadow: 0 0 0 1px $base-blue;
  background-color: $base-blue;
}

.reviews__button--prev:active::after {
  content: "";
  width: 50px;
  height: 50px;
  display: block;
  background-color: transparent;

  top: 0;
  left: 0;
  position: absolute;

  background-image: url("data:image/svg+xml,%3Csvg width='12' height='22' viewBox='0 0 12 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L11 11L1 21' stroke='%23ffffff'/%3E%3C/svg%3E%0A");
  background-size: 20px 34px;
  background-repeat: no-repeat;
  background-position: center;
}

.reviews__button--next:active::after {
  content: "";
  width: 50px;
  height: 50px;
  display: block;
  background-color: transparent;

  top: 0;
  left: 0;
  position: absolute;

  background-image: url("data:image/svg+xml,%3Csvg width='12' height='22' viewBox='0 0 12 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L11 11L1 21' stroke='%23ffffff'/%3E%3C/svg%3E%0A");
  background-size: 20px 34px;
  background-repeat: no-repeat;
  background-position: center;
}

.reviews__button--prev {
  top: 50%;
  left: -19px;
  transform: translateY(-50%) rotate(180deg);

  background-image: url("../../img/sprite/arrow.svg");
  background-size: 20px 34px;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $desktop) {
    left: 178px;
  }
}

.reviews__button--next {
  top: 50%;
  right: -18px;
  transform: translateY(-50%);

  background-image: url("../../img/sprite/arrow.svg");
  background-size: 20px 34px;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $desktop) {
    right: 178px;
  }
}

.reviews__button:disabled {
  opacity: 30%;
  pointer-events: none;
}
