.slider__slide {
  background-color: $bg-add-blue;
}

.slider__slide h3 {
  margin: 0;

  font-family: $roboto;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  color: $base-white;

  @media (min-width: $tablet) {
    font-size: 22px;
    line-height: 22px;
  }
}

.slider__slide blockquote {
  margin: 0;
  padding-bottom: 8px;

  font-family: $roboto;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: $base-white;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
}
