.tabs__list {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

  @media (min-width: $tablet) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
    width: 260px;
    align-content: flex-start;
  }
}

.tabs__item {
  width: 48%;

  @media (min-width: $tablet) {
    width: 162px;
  }

  @media (min-width: $desktop) {
    width: 100%;
  }
}

.tabs__button {
  padding: 15px 23px;
  width: 100%;

  font-family: $roboto;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $base-blue;
  text-align: center;

  border: none;
  box-shadow: inset 0 0 0 1px rgba(16, 38, 84, 0.2);
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $tablet) {
    padding: 18px 23px;
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop) {
    padding: 20px 23px 16px;
  }

  &--active {
    color: $base-white;

    background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);

    border: none;
    box-shadow: none;
  }
}

.tabs__button:hover {
  border: none;
  box-shadow: inset 0 0 0 1px $base-blue;
}

.tabs__button--active:hover {
  border: none;
  box-shadow: none;
}

.tabs__button:focus-visible {
  box-shadow: inset 0 0 0 1px $base-blue;
  outline: none;
}

.tabs__button--active:focus-visible {
  box-shadow: none;
  outline: none;
}

.tabs__button:active {
  color: $base-white;
  background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
  box-shadow: none;
}

.tabs__button:disabled {
  color: #c8c9cc;
}

.tabs__content {
  padding: 0;
  margin: 0;
  display: none;
  list-style: none;

  @media (min-width: $desktop) {
    width: 860px;
  }

  &--active {
    display: block;
  }
}

.tabs__content div {
  position: relative;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: $roboto;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: $base-blue;

  @media (min-width: $tablet) {
    font-size: 22px;
    line-height: 22px;
  }

  @media (min-width: $desktop) {
    font-size: 24px;
    line-height: 24px;
  }
}

.tabs__content div span:first-of-type {
  width: 238px;
  min-height: 40px;
  display: flex;
  align-items: center;

  @media (min-width: $tablet) {
    width: 500px;
  }

  @media (min-width: $desktop) {
    width: 680px;
  }
}

.tabs__content button {
  width: 30px;
  height: 30px;
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border: 1px solid $add-blue;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: $tablet) {
    width: 40px;
    height: 40px;
  }
}

.tabs__content button svg {
  width: 14px;
  height: 14px;

  @media (min-width: $tablet) {
    width: 20px;
    height: 20px;
  }
}

.tabs__content .data-open button {
  background-color: $add-blue;
}

.tabs__content div:hover button {
  background-color: $add-blue;
}

.tabs__content div:hover svg {
  stroke: #ffffff;
}

.tabs__content button:focus-visible {
  outline: none;
  background-color: #74819c;
}

.tabs__content button:focus-visible svg {
  stroke: #ffffff;
}

.tabs__content div:disabled .tabs__mark {
  opacity: 30%;
}

.tabs__content li {
  padding: 20px 0;
  position: relative;

  border-top: 1px solid #74819c;

  @media (min-width: $tablet) {
    padding: 23px 0;
  }

  @media (min-width: $desktop) {
    padding: 23px 0 22px;
  }
}

.tabs__content li:last-child {
  padding: 20px 0;
  border-bottom: 1px solid #74819c;

  @media (min-width: $tablet) {
    padding: 24px 0 22px;
  }

  @media (min-width: $desktop) {
    padding: 23px 0;
  }
}

.tabs__content p {
  margin: 0;
  width: 238px;

  font-family: $roboto;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  color: $base-blue;

  position: relative;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: ease-in-out 0.5s;

  @media (min-width: $tablet) {
    width: 560px;

    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    width: 660px;
  }
}
