// Vendor
// ---------------------------------

@import "vendor/normalize";
@import "swiper/css";

/* GLOBAL */
@import "common/variables";
@import "common/global";
@import "common/fonts";
@import "common/visually-hidden";
@import "common/link";
@import "common/swiper";

/* BLOCKS */
@import "blocks/page-body";
@import "blocks/main";
@import "blocks/hero";
@import "blocks/header";
@import "blocks/logo";
@import "blocks/about";
@import "blocks/video-block";
@import "blocks/price";
@import "blocks/announce";
@import "blocks/persons";
@import "blocks/features";
@import "blocks/offers";
@import "blocks/faq";
@import "blocks/tabs";
@import "blocks/reviews";
@import "blocks/slider";
@import "blocks/page-footer";
@import "blocks/form";
@import "blocks/contacts";
@import "blocks/footer";
@import "blocks/footer-nav";
@import "blocks/nav";
@import "blocks/social";
